td {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  border: solid black;
}

th {
  text-align: center;
  vertical-align: middle;
  border: solid black;
}

body {
  background-color: #b8b8b8;
  margin-top: 22px;
}

#scorecard {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

#numberofpins {
  margin-top: -10px;
  margin-bottom: 0px;
}

button {
  color: black;
}

table {
  border-bottom: 1px solid black;
  border: thick solid black;
}

#rollinput {
  text-align: center;
  margin-top: 10px;
}
